body {
  margin: 0;
}

.header {
  display: flex;
  border-top: 2px solid #822000;
  border-bottom: 2px solid #822000;
  height: 50px;
  width: 100%;
  background-color: #ebe2d3;
  box-shadow: 0 0 5px #979aa4;
}

.header__sub {
  border-top: none;
}

.header-item {
  padding: 0 5px;
  margin: 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.header-item__title {
  font-size: 2em;
  border-right: 2px solid #822000;
  padding-top: 0;
}

.header-item__tab {
  cursor: pointer;
  border-right: 2px solid #822000;
}

.header-item__tab:hover {
  background-color:#fcf6eb;
  text-decoration: underline;
}

.report {
  padding: 0 10px;
  margin-top: 20px;
}

.graphs {
  padding: 0 10px;
  margin-top: 20px;
}

.report-item {
  margin-left: 10px;
  margin-bottom: 5px;
}

.report-item__balance {
  font-weight: bold;
  color: #50a651;
}

.report-item__credit {
  color: #50a651;
}

.report-item__debit {
  color: #589fbf;
}

.report-item__warning {
  color: #822000;
}

.report-item__indented {
  margin-left: 40px;
}

.hidden {
  display: none;
}

.active {
  background-color:#fcf6eb;
  text-decoration: underline;
}

.graph {
  margin: 10px;
}